.Menu-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
}
.tab {
  cursor: pointer;
}
.item {
  color: white;
  flex-grow: 1;
  height: 40px;
  margin: 10px;
  width: 75px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}