.Menu-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #474f5e;
  box-shadow: 0 0 40px black;
}
.item {
  flex-grow: 1;
  width: 140px;
}
.inner-wrapper {
  display: flex;
  flex-direction: row;
}
.inner-item {
  color: white;
  flex-grow: 1;
  height: 40px;
  width: 10px;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}
.tab {
  cursor: pointer;
}
.inner-item.tab:hover {
  color: rgb(1, 178, 190);
}